* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-image: url("Pictures/index_backgr1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative; 
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(1.5px); 
    z-index: 0;
}


body > * {
    position: relative;
    z-index: 1;
}



.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(145, 143, 143);
    padding: 20px 15px; 
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    width: 370px;
    min-height: 430px; 
    z-index: 2;
}

.login-form .LogoSis img {
    display: block;
    margin: 3% auto 0 auto; 
}

.login-form h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 15%;
}

.login-form p {
    margin-top: 5%;
    margin-left: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(121, 2, 2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.login-form label {
    display: block;
    font-weight: bold;
    padding-top: 4px;       
    margin-bottom: 2px;    
    color: rgb(95, 12, 6);
}


.login-form input,
.login-form select {
    width: 100%;
    padding: 5px 6px; 
    margin-bottom: -9px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    
}


.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    position: right;
    background-color: rgb(95, 12, 6);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form button:hover {
    background-color: rgb(219, 33, 9);
    cursor:pointer;
}


.toggle-container {
    display: inline-flex;
    align-items: center;    
    font-size: 0.85em;
    margin-top: 5px;
    white-space: nowrap;    
  }
  
  .toggle-container input[type="checkbox"] {
    margin-right: 4px;
    vertical-align: middle; 
  }
  
  .toggle-container label {
    margin: 0;
    padding: 2;
    color: #000;
    font-weight: normal;
    line-height: normal;   
  }
  
  
  
  
  